@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @{
        try {

            if (User.Identity!.IsAuthenticated)
            {
                <iframe scrolling="no" style="width: 80vw; height: 80vh" src="healthchecks-ui"></iframe>
            } else
            {
                <h1 style="margin-top: 7em">
                    You should be <a asp-area="Identity" asp-page="/Account/Login">authorized</a>!
                </h1>
                <p>SSWControl - система управления серверным ПО; предназначена для отслеживания состояния подключенных служб, программ и баз данных</p>
            }
        } catch
        {
            <h1 style="margin-top: 7em">
                You should be <a asp-area="Identity" asp-page="/Account/Login">authorized</a>!
            </h1>
        }
    }
</div>
