html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container {
    min-width: 80%;
}

.scrollable-tables {
    /*overflow-y: auto;*/
    /*height: 65em;*/
}

.sticky-table-headers {
    position: sticky;
    top: 0;
    z-index: 999;
}

tr.config-collapse.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}