html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container {
    min-width: 80%;
}

.scrollable-tables {
    /*overflow-y: auto;*/
    /*height: 65em;*/
}

.sticky-table-headers {
    position: sticky;
    top: 0;
    z-index: 999;
}

tr.config-collapse.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

.has-before-after-quotes::before {
    content: "\"";
}

.has-before-after-quotes::after {
    content: "\"";
}

.id-column.sorted .sign.arrow {
    margin-right: 1rem;
}

body::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
    background-color: transparent;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 7px;
    border: 0px solid darkgrey;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
    display: none;
}