
@{
    ViewData["Title"] = "HealthChecks Management";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container text-center">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-configurations-tab" data-bs-toggle="tab" data-bs-target="#nav-configurations" type="button" role="tab" aria-controls="nav-configurations" aria-selected="true">Configurations</button>
            <button class="nav-link" id="nav-logs-tab" data-bs-toggle="tab" data-bs-target="#nav-logs" type="button" role="tab" aria-controls="nav-lgos" aria-selected="false">Logs</button>
        </div>
    </nav>
    <br />
    <div class="tab-content row col-12" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-configurations" role="tabpanel" aria-labelledby="nav-configurations-tab" tabindex="0">
            <div class="row">
                <div class="col-10">
                    <h1 class="text-start">Configurations</h1>

                </div>
                <div class="col-2">
                    <h1>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-primary">Left</button>
                            <button type="button" class="btn btn-primary">Middle</button>
                        </div>
                    </h1>
                </div>

            </div>
            <table class="table table-striped table-sm">
                <tr class="sticky-table-headers bg-light"><th>#</th><th>Name</th><th>URI</th><th>Controls (WIP)</th><th class="text-danger"><i class="bi bi-trash"></i></th></tr>
            </table>
        </div>
        <div class="tab-pane fade" id="nav-logs" role="tabpanel" aria-labelledby="nav-logs-tab" tabindex="0">
            <h1 class="text-start">Logs</h1>
            <table class="table table-striped table-sm">
                <tr class="sticky-table-headers bg-light"><th>#</th><th>Name</th><th>URI</th><th>Controls (WIP)</th><th class="text-danger"><i class="bi bi-trash"></i></th></tr>
            </table>
        </div>
    </div>
</div>